Package: com.emokidxd.bootsound
Name: BootSound
Description: Custom sounds can be found in /var/mobile/Documents/BootSounds (.caf files ONLY)
Maintainer: Emo Kid's Repo
Author: Emo Kid's Repo
Section: Tweaks
Depends: mobilesubstrate (>= 0.9.5000), ws.hbang.common
Architecture: iphoneos-arm64
Version: 1.0.0
Installed-Size: 424
